body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #84fab0, #f48fd1);
}

.container {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.form-container {
    padding: 20px;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
}

.toggle-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.toggle-button:hover {
    color: #007BFF;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.input-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b30098;
}
